.banner-image-resize {
  border-radius: 10px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 600px) {
  .banner-image-resize {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .banner-image-resize {
    height: auto;
  }
}

.contact-section {
  background-color: white;
  border-radius: 10px;
  max-height: 500px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.07);
}

.font-awesome-icon {
  color: #7065f0;
}

.features {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.07);
}

.features p {
  color: #7065f0;
}

.description-list,
.all-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.description-list div {
  border-bottom: 1px solid#9491b5;
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 50px;
}

.address .row {
  border-bottom: 1px solid#9491b5;
}

.contact-btn a {
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #7065f0;
  color: white;
}

.contact-btn a:hover {
  background-color: white;
  color: #7065f0;
  border: 1px solid #7065f0;
  transition: background-color 0.5s;

}

.comment-box {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.comment-box textarea {
  resize: none;
}
.contact-btn {
  background-color: #7065f0;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 6px;
  width: 100%;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #584ae0;
  cursor: pointer;
}
